.presentation {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.presentation__video {
  margin-bottom: 2rem;
}

.no-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-new-presentation {
  height: 45px;
  width: 180px;
  border-radius: 5px;
  background-color: #196cff;
  color: white;
  font-weight: bold;
  border: 0px;
  margin: 25px auto;
}

.btn-new-presentation:hover {
  background-color: #054fce;
}

.btn_input {
  height: 45px;
  margin-bottom: 20px;
}
