.container__thanks_for_voting {
    border: solid green;
    position: relative;
    /* Add this */
    width: 1024px;
}

.img__thanks_for_voting {
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto;
}

/* Create button style */
.btn__thanks_for_voting {
    padding: 30px;
    position: absolute;
    /* Add this */
    left: 50px;
    /* Also add this for position: absolute to work properly */
    top: 50px;
    /* Also add this for position: absolute to work properly */
}