.navbar__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.navbar__left img {
  margin-left: 20px;
}

.navbar__left span {
  font-size: 20px;
}

.navbar__center {
  display: flex;
  flex: 2 1;
}

.navbardetail__logo {
  height: 45px;
  width: auto;
}
.MuiPaper-elevation1 {
  box-shadow: none !important;
}
.Mui-selected {
  outline: "none" !important;
}

.Mui-selected button:focus {
  outline: "none" !important;
}
